<div>
  <section>
    <h1>Sign Up !</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
      <mat-form-field>
        <input matInput placeholder="First name" formControlName="firstName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last name" formControlName="lastName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
      <button color="primary" mat-raised-button>Submit</button>
    </form>
  </section>
</div>

