<div>
  <section>
    <h1>Sign Up !</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
      <mat-form-field>
        <input matInput placeholder="First name" [formControlName]="signUpFormConfig.CONTROL_FIRST_NAME">
        <mat-error *ngIf="signUpFormConfig.showErrorMsg(signUpForm, signUpFormConfig.CONTROL_FIRST_NAME)">
          {{signUpFormConfig.getErrorMsg(signUpForm, signUpFormConfig.CONTROL_FIRST_NAME)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last name" [formControlName]="signUpFormConfig.CONTROL_LAST_NAME">
        <mat-error *ngIf="signUpFormConfig.showErrorMsg(signUpForm, signUpFormConfig.CONTROL_LAST_NAME)">
          {{signUpFormConfig.getErrorMsg(signUpForm, signUpFormConfig.CONTROL_LAST_NAME)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Username" [formControlName]="signUpFormConfig.CONTROL_USERNAME">
        <mat-error *ngIf="signUpFormConfig.showErrorMsg(signUpForm, signUpFormConfig.CONTROL_USERNAME)">
          {{signUpFormConfig.getErrorMsg(signUpForm, signUpFormConfig.CONTROL_USERNAME)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" [formControlName]="signUpFormConfig.CONTROL_EMAIL">
        <mat-error *ngIf="signUpFormConfig.showErrorMsg(signUpForm, signUpFormConfig.CONTROL_EMAIL)">
          {{signUpFormConfig.getErrorMsg(signUpForm, signUpFormConfig.CONTROL_EMAIL)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" [formControlName]="signUpFormConfig.CONTROL_PASSWORD">
        <mat-error *ngIf="signUpFormConfig.showErrorMsg(signUpForm, signUpFormConfig.CONTROL_PASSWORD)">
          {{signUpFormConfig.getErrorMsg(signUpForm, signUpFormConfig.CONTROL_PASSWORD)}}
        </mat-error>
      </mat-form-field>
      <button color="primary" mat-raised-button>Submit</button>
    </form>
  </section>
</div>

