@import '../vars';

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 25vw;
}

#hamburger {
  display: none;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 1rem;

  &:hover,
  &:active {
    color: lightgray;
  }
}

.toolbar-container {
  display: flex;
  width: 100%;

  &__nav {
    display: flex;
    margin-left: auto;
  }
}

@media all and (max-width: $max-width-xs) {
  .toolbar-container__nav {
    display: none;
  }

  #hamburger {
    display: inline-block;
  }
}
